@tailwind base;
@tailwind components;
@tailwind utilities;




.pagination {
  position: sticky;
  bottom: 0;
  right: 10px; 
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  gap: 8px;
  padding: 10px;
  background-color: #fff; 
  z-index: 100; 
}


.pagination-dropdown {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-buttons {
  display: flex;
  gap: 8px;
}


.pagination-button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin: 0; 
}


.pagination-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}


.pagination span {
  padding: 5px 10px;
  color: #ccc;
}




@media (max-width: 540px) {
  .market-value, .market-title {
    display: none;
  }

  .pagination-dropdown {
    height: 100%;
  
  }

  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
} 








 


